@media (max-width: 1200px){
    .all-cards .container .card h3{
        font-size: 1.3rem;
    }

    .all-cards .container .card p{
        font-size: 1.2rem;
    }
}

@media (max-width: 991px){

    html{
        font-size: 55%;
    }
    .hamburger{
        display: block;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .list {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        background-color: #05050579;
        backdrop-filter: blur(10px);
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        flex-direction: column;
        border-radius: 0 0 20px 20px;
    }

    .menu-list {
        margin: 16px 0;
    }

    .list.active {
        left: 0;
    }

    .list.close {
        visibility: hidden;
    }


    
    .se-hero .container{
        flex-direction: column;
    }

    .se-hero .content{
        text-align: center;
        align-items: center;
    }

    .se-hero .content .btn-primary{
        margin-top: 1rem;
        font-size: 2rem;
    }

    .se-hero .image{
        margin-top: 15rem;
    }

    .all-cards .container{
        flex-direction: column;
    }

    .all-cards .container .card{
        align-items: center;
        justify-content: center;
    }

    .all-cards .container .card img{
        width: 10rem;
    }

    .all-cards .container .card h3{
        font-size: 2.2rem;
        text-align: start;
    }

    .all-cards .container .card p{
        font-size: 1.7rem;
        text-align: start;
    }

    .se-negotiate .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .se-negotiate .container .img-negotiate{
        margin-bottom: 8.5rem;
    }

    .se-negotiate .container .download .image-apps{
        flex-direction: column;
    }

    .se-negotiate .container .download .qr{
        display: none;
    }

    .se-negotiate .container .content{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .se-negotiate .container .content .secundary-text{
        margin-left: 2rem;
    }

    .se-negotiate .container .content .primary-text h3{
        font-size: 2rem;
    }

    .se-negotiate .container .content .primary-text p{
        font-size: 1.8rem;
    }


    .se-negotiate .container .content .secundary-text h3{
        font-size: 2rem;
    }

    .se-negotiate .container .content .secundary-text p{
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    .se-negotiate .container .content .btn{
        display: none;
    }
    .all-cripto .container{
        flex-direction: column;
    }

    .all-cripto .container .card{
        width: 100%;
        align-items: flex-start;
        justify-content: center;
    }

    .footer .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
    

}