:root{
    ---bg-color: #101010;
    ---btn-text: #000;
    ---card: #191919;
    ---paragrafy: grey;
    ---card-cripto: #2E3238;
    ---btn-color: #ffffff;
    ---btn-color-hover: #adadad;
    ---text: #fff;
    ---text-constrat: #6BAAFF;
}