:root{
    ---bg-color: #101010;
    ---btn-text: #000;
    ---card: #191919;
    ---paragrafy: #d4d4d4;
    ---card-cripto: #4a5c79;
    ---btn-color: #ffffff;
    ---btn-color-hover: #adadad;
    ---text: #fff;
    ---text-constrat: #6BAAFF;
}
